@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

head {
    display: none;
}

body {
    background: #ffffff;
    font-family: Roboto;
    display: block;
    margin: 8px;
}

#page-wrapper {
    position: relative;
}

div {
    display: block;
}

header {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
}

.logo {
    width: 69vw;
    padding-bottom: 5px;
}

.logo_coffee {
    width: 220px;
    margin-top: 20px;
}

.navbar {
    margin-top: 10px;
}

.nav-link {
    text-decoration: none;
    font-weight: 400;
    color: #ffd429;
    margin-right: 55px;
    font-size: 20px;

}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.hero {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 780px;
    margin-top: 100px;
    background-image: url(img/first_backk.jpg);
    background-repeat: no-repeat;
}

.text_craft {
    font-size: 55px;
    color: #ffd429;
    padding-top: 220px;
}

.email-text {
    margin-top: 30px;
    font-size: 17px;
    font-weight: 700;
    color: #ffffff;
}

.form {
    margin: 0 auto 15px;
	display:flex; 
	flex-direction: column;
	align-items: center;
	max-width: 350px;
}

.btn {
    font-size: 18px;
    font-weight: 700;
	border: 0;
	cursor: pointer;
	margin: 0 auto;
    background: #ffd429;
	color: #494949;
	display: block;
	width: 205px;
	padding: 15px 0;
	text-align: center;
	text-decoration: none;
	transition: all 0.5s ease;
}

.email {
    border: 1px solid #bbbbbb;
	width: 350px;
	font-size: 15px;
	height: 45px;
	padding: 23px;
	margin: 10px 0px 14px 0px;
}

section {
    display: block;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

#features {
    margin-top: 30px;
}

#how-it-works {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#how-it-works > iframe {
    max-width: 560px;
    width: 100%;
}

#pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer {
    margin-top: 30px;
    background-color: #ddd;
    padding: 20px;
    display: block;
}